
<!-- grocery shop -->
<header>
<h1>Grocery store</h1>
</header>
<form id="form" >
    <input type="text" #input1 class="form" placeholder="enter the name" >
    <input type="number" #input2 class="form" placeholder="enter the unit"  >
    <input type="number" #input3 class="form" placeholder="enter the quantity" >
    <button type="reset" #add (click)="getValue(input1.value,input2.value,input3.value)" >click me</button>
    
</form>
<table>
    <tr>
        <th>item</th>
        <th>unit</th>
        <th>price</th>
        <th>total</th>
        <th>operations</th>
    </tr>   
     
    <tr #data *ngFor="let index of data">
        <td >{{index.item}}</td>
        <td >{{index.unit}}</td>
        <td >{{index.price}}</td>
        <td #total >{{index.unit*index.price}}</td>
        <td><button  #edit type="button"  (click)="editValue($event.target,index)" >edit</button></td>
        <td><button  #del type="button" (click)="deleteValue($event.target,index)" >delete</button></td>
   
    </tr> 
</table>

<!-- #content contenteditable [disabled]=editEvent -->
<footer>
<h3 #grand >grand total <span>{{total}}</span></h3> 
</footer>






